div.main {
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

p.general {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 28px;
    font-weight: 700;
}

p.sub {
    margin-top: 5px;
}

div.person {
    padding-left: 18px;
    height: 90%;
    width: 22%;
    background-color: rgba(208, 208, 208, 0.9);
}

div.tickets {
    height: 90%;
    width: 30%;
    flex-grow: 0.85;
    background-color: rgba(66, 133, 180, 0.9);
}

body {
    margin-left: 0;
    font-family: 'Montserrat', sans-serif;
}

div.editModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

div.edit {
    height: 65%;
    width: 60%;
    background-color: rgba(10, 60, 110, 1);
}

form {
    width: 35%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}

form p {
    text-align: center;
    color: #fff8dc;
}

div.okButton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

div.exitModal {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    position: fixed;
    float: right;
    right: 20px;
    top: 50px;
    height: 120px;
    width: 240px;
}

div.exit {
    float: right;
    padding: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

div.modalAction {
    background: #fefefe;
    margin: 0;
    height: 40px;
    width: 230px;
    padding-left: 10px;
    padding-top: 20px;
    transition-duration: 0.4s;
}

div.modalAction:hover {
    background-color: #000080;
    color: #fff8dc;
}

p.head {
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 700;
}

div.handler {
    margin-top: 5px;
}

.clickable {
    cursor: pointer;
}