div.navbar {
    overflow: hidden;
    background-color: #000080;
    position: fixed;
    top: 0;
    width: 100%;
}

div.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff8dc;
    transition-duration: 0.4s;
}

div.navbar a:hover {
    background: #fcfcee;
    color: #0a0a0a;
}

div.main {
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

p.general {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 28px;
    font-weight: 700;
}

p.sub {
    margin-top: 5px;
}

div.person {
    padding-left: 18px;
    height: 90%;
    width: 22%;
    background-color: rgba(208, 208, 208, 0.9);
}

div.tickets {
    height: 90%;
    width: 30%;
    flex-grow: 0.85;
    background-color: rgba(66, 133, 180, 0.9);
}

body {
    margin-left: 0;
    font-family: 'Montserrat', sans-serif;
}

div.name {
    display: block;
    padding: 14px 16px 14px 1px;
    text-align: center;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color: #fff8dc;
}

div.editModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

div.edit {
    height: 65%;
    width: 60%;
    background-color: rgb(246, 248, 250);
}

form {
    width: 35%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}

form p {
    text-align: center;
}

input {
    width: 100%;
    height: 40px;
    font-size: 18pt;
    font-family: "Segoe UI", sans-serif;
}

div.okButton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

button.ok {
    width: 100%;
    margin: 15px auto auto;
    background-color: #5da130;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

button.ok:hover {
    background-color: #000080;
    color: yellow;
}

div.exitModal {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;

    position: fixed;
    float: right;
    right: 20px;
    top: 50px;
    height: 120px;
    width: 240px;
}

div.exit {
    float: right;
    padding: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

div.modalAction {
    background: #fefefe;
    margin: 0;
    height: 40px;
    width: 230px;
    padding-left: 10px;
    padding-top: 20px;
    transition-duration: 0.4s;
}

div.modalAction:hover {
    background-color: #000080;
    color: #fff8dc;
}

p.head {
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 700;
}

div.handler {
    margin-top: 5px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 79%;
    overflow-x: auto;
    margin-top: 0;
    border: 0;
}

th {
    padding: 20px 15px 20px 20px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px 15px 15px 20px;
    text-align: left;
    vertical-align:middle;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

td.link {
    background-color: #78dbe2;
    text-align: center;
    transition-duration: 0.4s;
    color: #000080;
    padding: 0;
}

td.link:hover {
    background-color: #000080;
    color: #fff8dc;
}

td.link a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.clickable {
    cursor: pointer;
}