body {
    margin-left: 0;
}

span.name {
    display: block;
    padding: 14px 16px 14px 1px;
    text-align: center;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color: #fff8dc;
}

div.main {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: rgba(66, 133, 180, 0.9);
}

.tbl-content {
    height: 89%;
    overflow-x: auto;
    margin-top: 0;
    border: 0;
}